body{ 
    margin: 0; 
    padding: 0; 
}
.container{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:100px;
    background-color:#0a0a32;
    color:white;
}

.inside{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
